[submodule "sc-data-functions"]
	path = sc-data-functions
	url = https://github.com/ee-davies/sc-data-functions.git
[submodule "src/sc-data-functions"]
	path = src/sc-data-functions
	url = https://github.com/ee-davies/sc-data-functions.git
[submodule "src/methods/sc-data-functions"]
	path = src/methods/sc-data-functions
	url = https://github.com/hruedisser/sc-data-functions.git
